body{

background:#eef2f7;

font-family:Segoe UI;

}

.card{

border:none;

border-radius:15px;

}

.navbar{

box-shadow:0 2px 10px rgba(0,0,0,.2);

}

h2{

font-weight:bold;

}

.table{

background:white;

}

audio{

width:100%;

}